 
<!-- ----- debut de la page cave_acceuil -->
<?php include 'fragment/fragmentCaveHeader.html'; ?>
<body>
  <div class="container">
    <?php
    include 'fragment/fragmentCaveMenu.html';
    include 'fragment/fragmentCaveJumbotron.html';
    ?>
    <section >
        <img src="../../public/image/vin_table" alt="bouteille de vin" class="img-rounded img-responsive float-right">
        <p>
            Bonjour à vous et merci de visiter notre site.
            Nous faisons de la vente en ligne de vins et nous vous permettons de trouver des offres d'emploi provenant des producteurs de votre
            région. N'hésitez pas à visiter tous les onglets même si vous les connaissez par coeur(Mr LEMERCIER) et surtout profitez bien de nos
            services et dégustez les vins de nos partenaires.       </p>
    </section>
    <?php
    echo("</div>");
    include 'fragment/fragmentCaveFooter.html';
    ?>
<!-- ----- fin de la page cave_acceuil -->
